This is a text that grows in the middle.
What comes next, I do not know.


{% if content is defined %}{{ content }}{% endif %}
{% set spark = "'" %}{% set iteration_text = '{% if finish is false %}{% raw %}{% if content is defined %}{{ content }}{% endif %}
{% set spark = "{% endraw %}{{ spark }}{%raw%}" %}{% set iteration_text = {% endraw %}{{ spark }}{{ iteration_text }} {{spark}}{% raw %} %}{% endraw %}{{ iteration_text }}{% endif %}' %}{% if finish is false %}{% raw %}{% if content is defined %}{{ content }}{% endif %}
{% set spark = "{% endraw %}{{ spark }}{%raw%}" %}{% set iteration_text = {% endraw %}{{ spark }}{{ iteration_text }} {{spark}}{% raw %} %}{% endraw %}{{ iteration_text }}{% endif %}
However, I do know that this text ends here.
